In [94]:
import sqlite3
import pandas as pd

In [95]:
dbase = sqlite3.connect('new_data.db')

In [96]:
# data = pd.read_sql('select * from transactions_1', dbase)
# data.head()

In [97]:
registered = pd.DataFrame(columns=['ID','Name','Email','Password', 'Type','PhoneNo'])

In [98]:
registered = registered.append({'ID':1,  'Name':'Aman',  'Email':'aman.r1298@gmail.com', 'Password':'aman123',   'Type':'retailer',  'PhoneNo':'8810419775'},    ignore_index = True)
registered = registered.append({'ID':2,  'Name':'Sonu',  'Email':'sonu@gmail.com',   'Password':'sonu123',   'Type':'retailer',  'PhoneNo':'8810419700'},    ignore_index = True)
registered = registered.append({'ID':3,  'Name':'Aakash',  'Email':'aakash@gmail.com',   'Password':'aakash123',    'Type':'customer',    'PhoneNo':'1234567890'},    ignore_index = True)
registered = registered.append({'ID':4,  'Name':'Ashutosh',  'Email':'ashutosh@gmail.com',   'Password':'ashutosh123',   'Type':'customer',  'PhoneNo':'9910419775'},    ignore_index = True)

In [99]:
registered

  ID      Name                 Email     Password      Type     PhoneNo
0  1      Aman  aman.r1298@gmail.com      aman123  retailer  8810419775
1  2      Sonu        sonu@gmail.com      sonu123  retailer  8810419700
2  3    Aakash      aakash@gmail.com    aakash123  customer  1234567890
3  4  Ashutosh    ashutosh@gmail.com  ashutosh123  customer  9910419775

In [100]:
registered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        4 non-null      object
 1   Name      4 non-null      object
 2   Email     4 non-null      object
 3   Password  4 non-null      object
 4   Type      4 non-null      object
 5   PhoneNo   4 non-null      object
dtypes: object(6)
memory usage: 320.0+ bytes

In [101]:
registered.to_sql('registration_data', dbase)

In [109]:
registered.to_csv('./registration_data/registration_data.csv', index=False)

In [102]:
retailer = pd.DataFrame(columns=['retailor_id', 'Name', 'Store_table', 'Sales_table', 'Transactions_table'])

In [103]:
retailer = retailer.append({'retailor_id':1,  'Name':'Aman',  'Store_table': 'store_1', 'Sales_table': 'sales_1' ,'Transactions_table' : 'transactions_1'},    ignore_index = True)
retailer = retailer.append({'retailor_id':2,  'Name':'Sonu',  'Store_table': 'store_2', 'Sales_table': 'sales_2' , 'Transactions_table' : 'transactions_2'},    ignore_index = True)

In [108]:
retailer

  retailor_id  Name Store_table Sales_table Transactions_table
0           1  Aman     store_1     sales_1     transactions_1
1           2  Sonu     store_2     sales_2     transactions_2

In [105]:
retailer.to_sql('retailor_data', dbase)

In [111]:
retailer.to_csv('./retailer/retailer_data.csv', index=False)